// === button bars === //
.bars {
    display: none;

    position: relative;
    width: 30px;
    height: 20px;   

    transform: translateX(0);
    overflow: hidden;
    cursor: pointer;
    
    &::before,
    &::after {
        content: "";
        position: absolute;        
        left: 0;

        width: 36px;
        height: 1px;
        background-color: #ffffff;

        transition: all .2s linear .3s;
        transform-origin: 0 0;
    }
    &::before {
        top: 0;        
    }
    &::after {
        bottom: 0;
    }    

    & > div {
        position: absolute;
        top: 50%;
        left: 0;       

        width: 80%;
        height: 1px;
        background-color: #ffffff;
        transition: .2s;
    }

    &:hover > div {
        width: 100%;
        transition: .2s;
    }
}   

// === siderbar menu === //
// .sidebar have width 300px //
.sidebar__menu {
    transform: translateX(300px);    
}
.sidebar__menu > ol {
    padding: 60px 20px 20px 20px;
}
.sidebar__menu > ol > li > a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;   
    &:hover {
        background-color: rgba(231, 223, 223, 0.5);
        transition: all .4s; 
    }
}
// === active === //

// active bars //
.active__bars {
    transform: translateX(10px);
    &::before,
    &::after {
        transform-origin: 0 0;
        transition: all .2s linear .3s;
    }
    &::before {
        transform: rotate(45deg);  
    }
    &::after {
        transform: rotate(-45deg);
    }  
}
// active bars cross // 
.active__bars--cross {
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear .2s;    
}
// active section topbar width //
.active__secTopbar--width {
    width: calc(100% - 300px);
} 