// === skills === //
.skills {    
    padding: 20px 5px;   
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.2);
}
.skills__list {
    @include layoutFlex(space-between, initial);    
    flex-wrap: wrap;
    box-sizing: border-box;    
}
.skills__item {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 20px;
    box-sizing: border-box;    
}
.skills__name {
    color: $colorGreen;
    margin-bottom: 15px;
}
.skills__process {
    position: relative;
    width: 100%;
    height: 7px;
    background-color: #bbe2b0;
    transition: all ease-out .5s;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;  
        width: 0;     
        background-color: $colorGreen;
        transition: all ease-out .5s;
    }
    // === active skill process === //
    &--html::after {
        width: 80%;        
    }
    &--css::after {
        width: 75%;
    }
    &--javascript::after {
        width: 70%;
        transition-delay: 0.1s;
    }
    &--bootstrap::after {
        width: 65%;
        transition-delay: 0.2s;
    }
    &--webpack::after {
        width: 50%;
        transition-delay: 0.3s;
    }
    &--sass::after {
        width: 75%;
        transition-delay: 0.3s;
    }
    &--angular::after {
        width: 20%;
        transition-delay: 0.4s;
    }
    
}

